/* Set the background color of the body to a dark gray color */
body {
    background-color: #222222;
    color: #CCCCCC;
}

/* Styles for primary portion of information */
.mainBody {
    padding-left: 12.5%;
    padding-right: 12.5%;
}

/* Style the followers and viewers classes */
.followers, .viewers {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

/* Style the channelInfo class */
.channelInfo {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

/* Style the chat class */
.chat {
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}

/* Style the message class */
.message {
    font-size: 16px;
    color: #CCCCCC;
    margin-bottom: 10px;
}

/* Style the message text span in the message class */
.message span.messageText {
    color: #CCCCCC;
}

/* Style alerts area */
.alertArea {
    border-radius: 5px;
    padding-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}


.alert {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #FFFFFF;
}